{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/flower/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">

<canvas id="background"></canvas>
</div>

<!--
<audio controls autoplay loop>
    <source src="/static/sound/Kira_Theme.mp3" type="audio/mpeg">
</audio>-->
{% endblock %}
<!--js-->
{% block scripts %}

{% assets output="gen/packed.js", "js_genlayout", "js/flower/script.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
