{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/dystopia/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">
    <!--<img id = "earth" src="/static/img/dystopia/earth.png">-->
    <div id="webgl"></div>
    <canvas id="ribbon"></canvas>
</div>
{% endblock %}
<!--js-->
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/three.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/TrackballControls.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dystopia/script.js') }}"></script>
{% endblock %}
