{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/music-art/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% include 'music-art/upload.html' %} 
      {% if musicfile is not none and musicfile %}
      <audio src="{{ musicfile }}" controls onpause="pauseMusic()" onplay="playMusic()" id="sound"></audio>
      {% endif %}
    </div>
    {% if musicfile is not none and musicfile %}
	    <div class="col-md-3">
	      <span>File: {{ musicfile }}</span>
	    </div>
	    <div class="col-md-3">
	    </div>
    {% endif %}
  </div>
</div>

</div>
{% endblock %}
<!--js-->
{% block scripts %} {% assets output="gen/packed.js", "plugins/p5.min.js", "js_genlayout","js/music-art/particles.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% endblock %}

