@font-face {
    font-family: "Tokyo Ghoul Font";
    src: url(/static/fonts/youmurderer-bb/youmurdererbb_reg.ttf) format("truetype");
}

body {
	font-family: "Tokyo Ghoul Font" !important;
    background-color: none !important;
}

#text {
    z-index: 1;
}

.white_text{
	color: white;
	background: rgba(0,0,0,0.5);
}
.line {
    display: none;
    color: darkred;
    font-size: 30px;
    background: transparent;
    
}

#background {
    top: 0;
    position: absolute;
    z-index: -1;
}


/*checkered background yay Kaneki*/

body {
    background-image: -moz-linear-gradient(45deg, #000 25%, transparent 25%), -moz-linear-gradient(-45deg, #000 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #000 75%), -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));
    -moz-background-size: 300px 300px;
    background-size: 300px 300px;
    -webkit-background-size: 300px 301px;
    /* override value for shitty webkit */
    background-position: 0 0, 150px 0, 150px -150px, 0px 150px;
}

/* keyframes for rotating animation */
@-webkit-keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

.wrapper{
  height: 300px;
  margin-top:50px;
  position:relative;
  perspective: 800;
  perspective-origin: 50% 100px;
}

/* cube wrapper */
.cube{
  position: relative;
  margin: 0 auto;
  width: 50px;
  transform-style: preserve-3d;
  animation: spin 4s infinite linear;
  transition: all 1s linear;
}

/* outer cube */
b{
  position:absolute;
  width:50px;
  height:200px;
  display:block;
  background:rgba(255,255,255,0.1);
  box-shadow:inset 0 0 30px rgba(0,0,0,0.2);
  font-size:20px;
  text-align:center;
  line-height:200px;
  color:rgba(0,0,0,0.5);
  font-family:sans-serif;
  text-transform:uppercase;
  transition: all 1s linear;
}
b.back{
  transform: translateZ(-25px) rotateY(180deg);
}
b.right{
  transform:rotateY(-270deg) translateX(25px);
  transform-origin: top right;
}
b.left{
  transform:rotateY(270deg) translateX(-25px);
  transform-origin: center left;
}
b.top{
  transform:rotateX(-90deg) translateY(-25px);
  transform-origin: top center;
}
b.bottom{
  transform:rotateX(90deg) translateY(25px);
  transform-origin: bottom center;
}
b.front{
  transform: translateZ(25px);
}
