{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/diary/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">
    <div class="row">
        <button onclick="flipToPage();">Flip to <span id="flipOption" value="notebook">notebook pages</span></button>
    </div>
    <div id="flipbook">
        <div class="hard"><h1>Death Note</h1>
            <canvas id="coverPage"></canvas>
        </div>
    </div>
</div>
{% endblock %}
<!--js-->
{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/turn.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/diary/rules.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/diary/script.js') }}"></script>
{% endblock %}
