body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
}

#circle {
    position: absolute;
    transform: translate(-50%, -50%);
}

#hole {
    position: absolute;
    transform: translate(-50%, -50%);
}
