* {
    font-family: 'Open Sans', sans-serif;
}



.bio, .links{
    margin-left: 2px;
}


.about {
    margin-bottom: 3%;
}

.profile {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.bio{
    margin-top: 10px;
    text-align: left !important;
}

.letter {
    height: 300px;
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;
}

.links {
    color: white;
}

.navbar {
    text-align: center;
    /*
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0px !important;
    background: none;
    border: 0px;
    */
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav,
.nav li,
.nav a {
    /*bottom: 0px !important;*/
    text-align: center;
}

.nav li:hover,
.nav a:hover {
    background: none !important;
    font-weight: bolder;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0 !important;
    text-align: center;
    margin-bottom: 10px;
}

a,
h1,
h2 {
    color: white;
}

a:hover {
    color: lightgrey;
}

.thumbnails {
    width: 400px;
    height: 350px;
}

#deathnote{
    width: auto !important;
}

/*----------------title fade in-----------------*/

@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
span {
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    -webkit-animation: smoky 5s both;
    animation: smoky 5s both;
    animation-iteration-count: infinite;
}

span:nth-child(even) {
    -webkit-animation-name: smoky-mirror;
    animation-name: smoky-mirror;
    animation-iteration-count: infinite;
}

@-webkit-keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@-webkit-keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

span:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

span:nth-of-type(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

span:nth-of-type(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

span:nth-of-type(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

span:nth-of-type(6) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

span:nth-of-type(7) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

span:nth-of-type(8) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

span:nth-of-type(9) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

span:nth-of-type(10) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

span:nth-of-type(11) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

span:nth-of-type(12) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

span:nth-of-type(13) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

span:nth-of-type(14) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

span:nth-of-type(15) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

span:nth-of-type(16) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

span:nth-of-type(17) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

span:nth-of-type(18) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

span:nth-of-type(19) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

span:nth-of-type(20) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

span:nth-of-type(21) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

#title {
    position: absolute;
    font-color: white;
    z-index: 10;
    margin-top: 30%;
    margin-bottom: 30%;
    font-size: 60px;
    text-align: center;
    width: 100%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
