@import url('https://fonts.googleapis.com/css?family=Actor');
.navbar-brand {
    display: inline;
}

.deadfisheyed_logo {
    z-index: 1;
}

.main_container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#title {
    left: 0 !important;
    position: absolute;
    color: grey;
    z-index: 10;
    margin-top: 20%;
    margin-bottom: 30%;
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.bio,
.links {
    margin-left: 2px;
}

.bio p {
    font-size: 13px;
}

.about {
    margin-bottom: 3%;
}

.work > a {
    font-weight: bolder;
}

.profile {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.bio {
    margin-top: 10px;
    text-align: left !important;
    font-size: 17px;
}

.letter {
    height: 300px;
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
    color: white;
}

a {
    text-decoration: none !important;
}

.navbar {
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav,
.nav li,
.nav a {
    /*bottom: 0px !important;*/
    text-align: center;
    color: lightgrey;
}

.nav li:hover,
.nav a:hover {
    background: none !important;
}

.navbar-toggle .icon-bar {
    background-color: white;
    color: white !important;
    stroke: white;
}

.icon-bar,
.navbar-toggle,
.navbar-toggle.collapsed {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

.buffer {
    height: 120px;
}

a:hover {
    color: white;
    font-weight: 900;
}


/*----------footer water ----------*/

#water-spring {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: #000;
}

body {
    padding-top: 60px;
    /*necessary or else navbar will overlap content*/
    font-family: 'Actor', sans-serif !important;
    font-size: 14px;
    background-color: black !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Actor', sans-serif !important;
}

a {
    color: grey !important;
    text-decoration: underline;
    text-transform: uppercase;
}


/*------------ contact info footer ------------*/
html {
    position: relative;
    min-height: 100%;
}

footer {
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    font-size: 10px;
    color: grey;
}

#contact{
    text-align: center;
}