* {
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    display: inline;
}

#fishLogo {
    z-index: 1;
    width: 17%;
    /*
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    */
}

.container-fluid {
    margin-top: 5%;
}

#title {
    position: absolute;
    font-color: white;
    z-index: 10;
    margin-top: 30%;
    margin-bottom: 30%;
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.bio,
.links {
    margin-left: 2px;
}

.about {
    margin-bottom: 3%;
}

.profile {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.bio {
    margin-top: 10px;
    text-align: left !important;
    font-size: 17px;
}

.letter {
    height: 300px;
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;
}

.links {
    color: white;
}

a {
    text-decoration: none !important;
}

.navbar {
    text-align: center;
    /*
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0px !important;
    background: none;
    border: 0px;
    */
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav,
.nav li,
.nav a {
    /*bottom: 0px !important;*/
    text-align: center;
}

.nav li:hover,
.nav a:hover {
    background: none !important;
    font-weight: bolder;
}

.navbar-toggle .icon-bar {
    background-color: white;
    color: white !important;
    stroke: white;
}

.icon-bar,
.navbar-toggle,
.navbar-toggle.collapsed {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

.buffer {
    height: 120px;
}

a,
h1,
h2 {
    color: white;
}

a:hover {
    color: lightgrey;
}

.thumbnails {
    text-align: center;
    max-width: 400px;
    height: 350px;
}

#deathnote {
    width: auto !important;
}


/*----------footer water ----------*/

@import url(https://fonts.googleapis.com/css?family=Karla:700,400);
#water-spring {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: #000;
}

body {
    font-family: Karla, sans-serif;
    font-size: 11px;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: underline;
    text-transform: uppercase;
}
