body {
    padding-top: 60px;
    /*necessary or else navbar will overlap content*/
    font-family: 'Actor', sans-serif !important;
    font-size: 14px;
    color: lightgrey;
    background-color: black;
}

.letter {
    height: 300px;
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav,
.nav li,
.nav a {
    /*bottom: 0px !important;*/
    text-align: center;
    color: lightgrey;
}

.nav li:hover,
.nav a:hover {
    background: none !important;
}

.navbar-toggle .icon-bar {
    background-color: white;
    color: white !important;
    stroke: white;
}