html {
    height: 100%;
}

body {
    min-height: 600px;
    min-width: 1280px;
    background: url('/static/img/game/background.png') no-repeat;
}

#main {

	position: relative;
    margin: 0 auto;
    min-height: 600px;
    height:100vh;
}

#container {
    position: absolute;
    z-index: 1;
}

.brick{
	max-height: 300px;
	position: absolute;
	z-index: -1; 
	bottom: 0;
}

#penguins {
    /*margin-top: 140px;*/
    z-index: 10;
}
