{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/cage/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/slick/slick.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/slick/slick-theme.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/animate/animate.min.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">
    <canvas id="canvas"></canvas>
</div>
{% endblock %}
<!--js-->
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/slick/slick.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cage/script.js') }}"></script>
{% endblock %}
