canvas {
    position: absolute;
    z-index: 1;
}


/*butterfly flapping*/

#butterfly_container {
    z-index: -1;
    perspective: 600px;
    perspective-origin: -20% 20%;
    top: 10px;
    color: gray;
    margin: 0px auto;
    position: relative;
}

#butterfly {
    transform: rotateZ(-0deg) rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
    transform-origin: 51% 50%;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 238px;
    transform-style: preserve-3d;
    /*Fly in a loop below*/
    /*animation-name: butterflyani;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;*/
}

.wing {
    transform: rotateX(0deg) translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 100deg);
    transform-origin: top right;
    position: absolute;
    left: 200px;
    top: 0px;
    width: 200px !important;
    height: 238px;
    background: url(/static/img/butterfly/butterfly2wing.png) no-repeat;
    animation-name: rightwingani;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#butterfly .left {
    transform: rotateX(0deg) rotate3d(0, 1, 0, 0deg);
    animation-name: leftwingani;
    left: 0px;
    top: 0px;
}

@keyframes rightwingani {
    from {
        transform: rotateX(0deg) translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 160deg);
    }
    50% {
        transform: rotateX(0deg) translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 100deg);
    }
    to {
        transform: rotateX(0deg) translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 160deg);
    }
}

@keyframes leftwingani {
    from {
        transform: rotateX(0deg) rotate3d(0, 1, 0, 0deg);
    }
    50% {
        transform: rotateX(0deg) rotate3d(0, 1, 0, 40deg);
    }
    to {
        transform: rotateX(0deg) rotate3d(0, 1, 0, 00deg);
    }
}


/*Fly in a loop keyframes below*/


/*@keyframes butterflyani {
	from {
		transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
	}
	25% {
		transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
	}
	50% {
		transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
	}
	75% {
		transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
	}
	to{
		transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-300px, 350px, 0px);
	}
}*/
