{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/butterfly/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">

<canvas id='background'></canvas>

<div id="butterfly_container">
  <div id="butterfly">
    <div class="left wing"></div>
    <div class="right wing"></div>
  </div>
</div>
    
</div>
<audio controls autoplay loop>
    <!--<source src="/static/sound/Kira_Theme.mp3" type="audio/mpeg">-->
</audio>
{% endblock %}
<!--js-->
{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/turn.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/butterfly/script.js') }}"></script>
{% endblock %}
