{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/butterfly/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">
    <canvas id='background'></canvas>
    <!--intro-->
    <div class="type-js headline">
        <p class="text-js">The Butterfly Lovers (梁祝) is a traditional Chinese legend and love story about the pair Liang Shanbo (梁山伯) and Zhu Yingtai (祝英台). Due to circumstance and fate, the two are unable to be together, leading to both of their tragic deaths. Their spirits turn into a pair of butterflies and depart their graves, finally together again. This interactive piece is a product of both our music and artistic interpretation of the legend. Alternate between mousedown and mouseup to see the full range of the piece.
        </p>
    </div>
    <div class="type-js2 headline">
        <p class="text-js">Music created by Kaijie Chen. Frontend interactive created by Lucy Zhang. Concept by Kaijie & Lucy.</p>
    </div>
    <div class="container container1">
        <div class="hover-container">
            <div class="left wing"></div>
            <div class="right wing"></div>
            <div class="body"></div>
            <div class="head"></div>
        </div>
    </div>
    <div class="container container2">
        <div class="hover-container">
            <div class="left wing2"></div>
            <div class="right wing2"></div>
            <div class="body"></div>
            <div class="head"></div>
        </div>
    </div>
</div>
<!--
<audio controls autoplay loop>
    <source src="/static/sound/Kira_Theme.mp3" type="audio/mpeg">
</audio>-->
{% endblock %}
<!--js-->
{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/turn.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/butterfly/script.js') }}"></script>
{% endblock %}
