body{
	background-color: black;
}

#main{
	text-align: center;
}

#chapel{
	margin-top: 0px;
	height: 1000px !important;
	z-index: -10;
}

#background{
	z-index: 1;
	margin-left: -150px;
	position: absolute;
}

.credit{
    position: fixed;
    top:0;
}