{% extends "layout.html" %} 
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}
{% block body %}
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>
<div class="container-fluid">
    <div class="row about">
        <div class="col-md-12">
            <h1>About</h1>
            <hr>
            <div class="bio row">
                <p>A random conglomeration of art-music-code-photography-animation</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="profile">
                <img class="letter" src="/static/img/L.png">
                <h2>Lucy Zhang</h2>
                <div class="links row">
                    <!--<a href="http://people.duke.edu/~lz107/Lucy_Zhang/">Website</a> |-->
                    <a href="https://github.com/Lucytheanimefan">Github</a> |
                    <a href="https://www.linkedin.com/in/lucyzhang7">LinkedIn</a>
                </div>
                <div class="bio row">
                    <p>Lucy Zhang is an <b>avid anime fan</b>, engineer, software developer, pseudo artist and all time skeptic about Chinese medicinal practices. On one random day full of school work, Lucy decided that she needed to take procrastination to another level and created deadfisheyed. She ended up dragging in two other unwilling souls who succumbed to procrastination. Lucy sits behind all of the code that powers the website and eccentric pieces of art here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile">
                <img class="letter" src="/static/img/S.png">
                <h2>Stephanie Zhou</h2>
                <div class="links row">
                    <a href="https://szhou.myportfolio.com/">Website</a> |
                    <a href="https://www.linkedin.com/in/stephanie-zhou1">LinkedIn</a>
                </div>
                <div class="bio row">
                    <p>Stephanie Zhou is a semi-functional artist when deprived of sleep, <b>avid anime fan</b> and plant-identifier. She designs, photoshops, draws and helps to realize concepts of our otherwise meaningless projects.</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="profile">
                <img class="letter" src="/static/img/K.png">
                <h2>Kaijie Chen</h2>
                <div class="links row">
                    <a href="https://www.linkedin.com/in/chenkaijie/">LinkedIn</a>
                </div>
                <div class="bio row">
                    <p>Kaijie is a pseudo mechanical engineer, a frantic life questioner, and a musician who constantly seeks his own voice but shamelessly steals from others. He composes all of our music in GarageBand, photoshops creepy looking art (of course, to go along with our theme) and helps to realize deadfisheyed project concepts.</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}
