{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <div class="row about">
        <div class="col-md-12">
            <h1>About</h1>
            <div class = "bio row">
                <p>Stephanie and Lucy are two highly eccentric individuals who like to make too many Tokyo Ghoul references for their health.</p></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="profile">
                <img class="letter" src="/static/img/L.png">
                <h2>Lucy Zhang</h2>
                <div class="links row">
                    <!--<a href="http://people.duke.edu/~lz107/Lucy_Zhang/">Website</a> |-->
                    <a href="https://github.com/Lucytheanimefan">Github</a> |
                    <a href="https://www.linkedin.com/in/lucyzhang7">LinkedIn</a>
                </div>
                <div class="bio row">
                    <p>Lucy Zhang is an <b>avid anime fan</b>, engineer, software developer, pseudo artist, and all time skeptic about Chinese medicinal practices. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile">
                <img class="letter" src="/static/img/S.png">
                <h2>Stephanie Zhou</h2>
                <div class="links row">
                    <a href="https://szhou.myportfolio.com/">Website</a> |
                    <a href="https://www.linkedin.com/in/stephanie-zhou1">LinkedIn</a>
                </div>
                <div class="bio row">
                    <p>Stephanie Zhou is a semi-functional artist when deprived of sleep, <b>avid anime fan</b>, pseudo frontend developer, and plant-identifier.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile">
                <img class="letter" src="/static/img/S.png">
                <h2>Kaijie Chen</h2>
                <div class="links row">
                    <a href="https://www.linkedin.com/in/chenkaijie/">LinkedIn</a>
                </div>
                <div class="bio row">
                    <p>Kaijie is a pseudo mechanical engineer, a frantic life questioner, and a musician who constantly seeks his own voice but shamelessly steals from others.</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
