{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
<div class ="row">Stephanie and Lucy are two highly eccentric individuals who like to make too many Tokyo Ghoul references for their health.</div>
    <div class="col-md-6">
        <h1>Lucy Zhang</h1>
        <a href="http://people.duke.edu/~lz107/Lucy_Zhang/">Website</a>
        <br>
        <a href="https://github.com/Lucytheanimefan">Github</a>
        <div class = "bio">
        <p>Lucy Zhang is an <b>avid anime fan</b>, engineer, software developer, pseudo artist, and all time skeptic about Chinese medicinal practices. </p>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Stephanie Zhou</h1>
        <a href="https://szhou.myportfolio.com/">Website</a>
        <div class = "bio">
        <p>Stephanie Zhou is a semi-functional artist when deprived of sleep, <b>avid anime fan</b>, pseudo frontend developer, and identifies with being a plant.</p>
        </div>
    </div>
</div>
{% endblock %}
