{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/plugins/c3.min.css">
<link rel="stylesheet" type="text/css" href="/static/plugins/animate/animate.min.css"> 
<style>
#kimi,
#main,
#graph,
#message *,
#message {
    text-align: center;
    margin: 0 auto;
}

#graph{
	margin-top: 120px;
}
h1{
	font-size: 60px;
}

h2{
	font-size: 40px;
}

p{
	font-size: 20px;
}

.c3-axis-x-label,
tspan,
.c3-axis-x,
text {
    font-size: 40px !important;
}
</style>
{% endblock %}
<!--html-->
{% block body %}
<div id="main">
    <div id="graph">
    </div>
</div>
<!--<audio controls autoplay loop>
    <source src="/static/sound/comet.mp3" type="audio/mpeg">
</audio>-->
{% endblock %}
<!--js-->
{% block scripts %}
<script src="/static/plugins/d3.min.js"></script>
<script type="text/javascript" src="/static/plugins/c3.min.js"></script>
<script>
function createGraph(divElementID, columns) {
    var chart = c3.generate({
        bindto: "#" + divElementID,
        data: {
            x: 'x',
            columns: columns,
            groups: [
                ["Your radars", "Your productivity"]
            ],
            type: 'bar',
        },
        legend: {
            hide: true
        },
        grid: {
            y: {
                show: true
            }
        },
        axis: {
            x: {
                type: 'category',

            },
            y: {
                show: false
            }
        }
    });

    return chart;
}

var initialData = [
    ['x', "Your radars", "Your productivity"],
    ["Percent", 50, 50]
]

var firstRound = [
    ['x', "Your radars", "Your productivity"],
    ["Percent", 75, 30]
]

var scndRound = [
    ['x', "Your radars", "Your productivity"],
    ["Percent", 100, 20]
]

//third round of chart
var thirdRound = [
    ['x', "Your radars", "Your productivity"],
    ["Percent", 120, 0]
]

var fourthRound = [
    ['x', "Watch anime", "Your radars", "Your productivity"],
    ["Percent", 0, 100]
]

//callback hell
var chart = createGraph("graph", initialData);
var timeDiff = 1000;

function animateRound(newData, delay, callback = null, isEnd = false) {
    setTimeout(function() {
        chart.load({
            columns: newData
        });
        if (isEnd) {
            setTimeout(function() {
                callback();
            }, timeDiff / 2);
        } else if (callback) {
            callback();
        }
    }, delay);
}

function setAnimeText() {
    $("#graph").addClass("animated rubberBand");
    $("#graph").html("<h1>WATCH KIMI NO NA WA TODAY</h1>" +
        "<h2>Four Horsemen from 2 to 3:30 pm.</h2>" +
        "<p>Nothing better than a bit of anime to make you feel bug free once again.</p>");
}
//callback hell
function playEverything() {
    $("#xlabel").show();
    animateRound(firstRound, timeDiff, function() {
        animateRound(scndRound, timeDiff, function() {
            animateRound(thirdRound, timeDiff, function() {
                animateRound(fourthRound, timeDiff, function() {
                    $("#graph").empty();
                    setAnimeText();
                    setTimeout(function() {
                        $("#graph").removeClass("animated rubberBand");
                        $("#graph").empty();
                        chart = createGraph("graph", initialData);
                        playEverything();
                    }, timeDiff * 5);

                })
            })
        })
    });
}

$(document).ready(function() {
    playEverything();
})
</script>
{% endblock %}
