<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>deadfisheyed</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon2.ico') }}" type="image/x-icon" /> {% block css %}{% endblock %}
    <script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WC3W4JN');
    </script>
</head>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC3W4JN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- Header start-->
<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--????-->
                <!--<a class="navbar-brand" href="/"><img id="fishLogo" src="/static/img/deadfisheyedicon_white.png"></a>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('works') }}">Works</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    {% block body %}{% endblock %}
    <div class="row buffer"></div>
</body>
<footer>
    {% block footer %}{% endblock %}
    <div id="contact">
        <p>Contact: deadfisheyed@gmail.com</p>
    </div>
</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='css/lib/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/anime.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/paper-full.min.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/lib/three.min.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/water.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-89624096-1', 'auto');
ga('send', 'pageview');
</script>
{% block javascript %}{% endblock %}
