{% extends "layout.html" %} 
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/works.css') }}">

{% endblock %}
{% block body %}
<meta id="my-data" data-name="{{ works }}" data-other="{{ works }}">
<div class="container-fluid">
    <h1>Works</h1>
    <hr>
    <div id="works">
        <div class="fishcontainer">
            <canvas width="1400" height="600" id="fishtank">
        </div>
    </div>
</div>
</div>
{% endblock %} {% block javascript %}
<script>
populateWorks();
startFishBackground();
startWorksFishUserInput();
</script>
{% endblock %}
