{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <h1>Works</h1>
    <hr>
    <div class="col-md-4">
        <div class="work">
            <a href="/castleinblood"><img class="thumbnails" src="/static/img/thumbnails/castle_in_blood.png"></a>
            <p>Created on 12/31/16</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="video work">
            <a href="https://www.youtube.com/embed/B2hQEygUcRM"><img class="thumbnails" src="/static/img/thumbnails/button.png"></a>
            <p>Our first animation created on 11/25/16</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="work">
            <a href="/deathnote"><img class="thumbnails" id="deathnote" src="/static/img/deathnote/Death_Note_border.png"></a>
            <p>Published 1/9/17</p>
        </div>
    </div>
</div>
{% endblock %}
