@font-face {
    font-family: "Death Note Font";
    src: url(/static/fonts/DEATHNOTE_Font/DEATHNOTEFont.ttf) format("truetype");
}

body {
	font-family: "Death Note Font";
    text-align: center;
    margin: auto 0;
    background-color: white;
}

#main {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
}

h1{
	font-size: 50px;
}

#D{
	font-size: 60px !important;
}

.rules{
	background-image: url("/static/img/deathnote/Death_Note_border.png");
	background-size: 450px 600px;
}

.title{
	margin-top: 50px;
}
.page {
    background-color: black;
}

#flipbook{
	color: white;
}

.rulesBullets{
	padding-left: 10px;
}

.rulesText{
	font-size: 17px;
	text-align: justify;
}

.rulesContent{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 150px;
}

.names{
	margin-top: 50px;
}

#nameInput {
	text-align: center;
    border: none;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}