@font-face {
    font-family: "Death Note Font";
    src: url(/static/fonts/DEATHNOTE_Font/DEATHNOTEFont.ttf) format("truetype");
}

body {
	font-family: "Death Note Font";
    text-align: center;
    margin: auto 0;
    background-color: white;
}

#main {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
}



.page {
    background-color: black;
}

#flipbook{
	color: white;
}

