body{
	background-color: black;
	overflow-y: hidden;
	overflow-x: hidden;
}

#earth{
	display: block;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#world {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}