{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/music_manipulator/style.css') }}">
{% endblock %}
<!--html-->
{% block body %}
<canvas id="canvas"></canvas>

{% endblock %}


<!--js-->
{% block scripts %} {% assets output="gen/packed.js", "js_genlayout", "plugins/jquery-ui.min.js", "js/lib/dat.gui.min.js","js/music_manipulator/script.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% endblock %}