{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/oneMoreLight/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">
    <canvas id="canvas"></canvas>
    <div id="ytplayer"></div>
</div>
{% endblock %}
<!--js-->
{% block scripts %}

<!-- TODO: get local copy -->
<script src="https://www.youtube.com/iframe_api"></script>

{% assets output="gen/packed.js", "js_genlayout", "js/oneMoreLight/script.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}