{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/oneMoreLight/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">

<div id="ytplayer"></div>

</div>
{% endblock %}
<!--js-->
{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/oneMoreLight/script.js') }}"></script>
{% endblock %}