{% extends "genLayout.html" %}
<!--css-->
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/chair/style.css') }}"> {% endblock %}
<!--html-->
{% block body %}
<div id="main">
    <div class="col-md-8 offset-md-2">
        <div id="text"></div>
    </div>
    <div class="wrapper">
        <img class="bg-image main animated" src="" alt="">
        <div class="drawing ui-corner-all animated">
            <canvas id="draw-refract"></canvas>
            <canvas id="draw-reflect"></canvas>
            <canvas id="draw-fractures"></canvas>
            <canvas id="draw-mainline"></canvas>
            <canvas id="draw-noise"></canvas>
            <canvas id="draw-debug" style="display: none;"></canvas>
            <div id="draw-picker"></div>
        </div>
    </div>
    <canvas id="background"></canvas>
</div>
{% endblock %}
<!--js-->
{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/three.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chair/text.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chair/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chair/glass_shatter.js') }}"></script>
{% endblock %}
